extends ../base/layout

block data

block variables
  - var title = "The Famous"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "main"

block main
  main
    .container
