.footer {
  background-color: transparent;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer__nav a {
  color: $color-matterhorn;
}
