.header {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 24px 0;

  border-bottom: 1px solid $color-gainsboro;
  background-color: inherit;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: 100%;
  }
}

.header__logo {
  flex-shrink: 0;
  margin-right: 24px;
}

.header_search {
  margin-left: auto;
}
