//- include ../mixins/img

mixin header(headerMod, currentPage)
  -
    var headerLinks = [
      {
        href: "#",
        text: "Каталог"
      },
      {
        href: "#",
        text: "Доставка"
      },
      {
        href: "#",
        text: "Оплата"
      },
      {
        href: "#",
        text: "Контакты"
      },
      {
        href: "#",
        text: "О галерее"
      },
    ]

  header(class=(headerMod) ? "header header--" + headerMod : "header")
    .header__wrapper
      if(currentPage === "main")
        a.header__logo
          +img("content/header", "logo", "jpg", 48, 48, "The Famous")
      else
        a.header__logo(href="main.html", aria-label="Переход на главную")
          +img("content/header", "logo", "jpg", 48, 48, "The Famous")
      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list
            each link, index in headerLinks
              if(index === currentPage)
                li.main-nav__item
                  a.main-nav__link.main-nav__link--active=link.text
              else
                li.main-nav__item
                  a.main-nav__link(href=link.href)=link.text

      .header_search
        +search("Поиск по названию картины", "Найти")
